@import 'colors';

// @font-face {
//     font-family: 'Nunito';
//     font-style: normal;
//     font-weight: 400;
//     font-display: swap;
//     src: url('./fonts/Nunito-Medium.ttf') format('truetype');
//     font-weight: normal;
// }

@font-face {
    font-family: 'Death-Star';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('./fonts/Death-Star.otf') format('truetype');
    font-weight: normal;
}
@font-face {
    font-family: 'ClashGrotesk-Medium';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('./fonts/ClashGrotesk-Medium.otf') format('truetype');
    font-weight: normal;
}
body{
    position: relative;
    font-family: Death-Star, sans-serif;
    font-weight: 400;
}